.card-content {
    width: 100%;
    max-width: 20.5rem;
    height: 41.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
        .image-mask {
            transform: translateY(-5px) scaleY(1.03);            
        }
    }    
    .image-mask {
        width: 100%;
        max-width: 20.5rem;
        height: 35rem;
        border-radius: 1.4rem;
        background-size: cover;
        transition: all .5s cubic-bezier(0.76, -0.02, 0.29, 1.01);
    }
    .info-card {
        width: 100%;
        max-width: 18.5rem;
        height: 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        span {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 100%;
            color: $brand-red;
        }
        small {
            display: none;
        }
    }
}

// HTML Card
// <button class="card-content">
//     <div class="image-mask">
//     </div>
//     <div class="info-card">
//         <h3>Peaky Blinders: Sangue, Apostas e Navalhas</h3>
//         <span>2022</span>
//     </div>
// </button>


.primary-button {
    width: 100%;
    max-width: 17.5rem;
    display: flex;
    justify-content: center;
    background: $brand-red;
    box-shadow: 0px 4px 32px #ff000059;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 5.2rem;
    color: $white;
    transition: all 0.3s ease-in;
    &:hover {
        background-color: #FF000D;
        box-shadow: 0px 0px 32px #FF0000;
    }
}

// HTML Button Primary
// <button class="primary-button">
//     Assista agora
// </button>

.secondary-button {
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid $white;
    border-radius: 1.2rem;
    img {
        transition: all .5s cubic-bezier(0.84, 0, 0.08, 1.01);
    }
    &:hover {
        img {
            transform: rotate(270deg);
        }
    }
}

// HTML Button Secondary
// <button class="secondary-button">
//     <img src="img/icon-favoritar.svg" alt="">
// </button>
