.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 0;
        background-color: #00000080;
        .container-grid {
            position: relative;
            z-index: 1;
            padding: 0 1.6rem 0 1.6rem;
            transform: translateY(30px);
            transition: all 0.3s ease-in;
            .details-content {
                width: 100%;
                height: 90vh;
                border-radius: 3.2rem 3.2rem 0 0;
                padding: 18rem 8rem 8rem 8rem;
                box-shadow: inset 400px -200px 150px #000c;
                background-repeat: no-repeat;
                background-position: 50% 70%;
                background-size: cover;
                h1, p, span {
                    width: 100%;
                    max-width: 63rem;
                }
                p {
                    margin-top: 2.4rem;
                    margin-bottom: 2.4rem;
                }
                span {
                    color: $white;
                    font-size: 1.4rem;
                }
                .circle-dashboard {
                    position: relative;
                    width: 11.4rem;
                    height: 11.4rem;
                    margin-left: -25px;
                    svg {
                        width: 114px;
                        height: 114px;
                        margin: 0;
                      }
                    .bg {
                        fill: none;
                        stroke-width: 10px;
                        stroke: #ffffff69;
                    }
                    .meter {
                        fill: none;
                        stroke-width: 10px;
                        stroke-linecap: round;
                        transform: rotate(-90deg);
                        transform-origin: 50% 50%;
                        stroke-dasharray: 360;
                        stroke-dashoffset: 100;
                        stroke: $brand-red;
                        animation: progress 1s ease-out;
                    }
                    #meter-pontuacao {
                        position: absolute;
                        top: 22%;
                        left: 38%;
                    }
                }
            }
            .container-buttons {
                position: absolute;
                bottom: 5rem;
                left: 10rem;
                width: 100%;
                max-width: 100rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 2;
                .btns {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .primary-button {
                        margin-right: 1.2rem;
                    }
                }
            }
        }
    }
    @include responsive(600px) {
        .overlay {
            .container-grid {
                .details-content {
                    padding: 10rem 2.4rem 2.4rem 2.4rem;
                    h1 {
                        font-size: 3.2rem;
                    }
                    p {
                        font-size: 1.3rem;
                        text-align: justify;
                    }
                    span {
                        font-size: 1.2rem;

                    }
                }
                .container-buttons {
                    left: 5rem;
                }
            }
        }
    }
}
.open-modal {
    .modal {
        opacity: 1;
        pointer-events: all;
        .container-grid {
            transform: translateY(0);
        }
    }
}
