* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(192.72deg, #141414 15.35%, #000000 73.05%);
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

img {
    max-width: 100%;
}